/* .slider-labels {
    --num-labels: 3;
    display: grid;
    grid-template-columns: repeat(var(--num-labels), minmax(0, 1fr));
    grid-auto-flow: column;
    justify-items: center;
    align-items: center;
} */

.slider-labels {
    width: 100%;
    height: 20px;
    position: relative;
    justify-items: center;
    /* align-items: center; */
}

/* .slider-value {
    display: inline;
    color: white;
    font-size: 12px;
    font-family: 'Roboto';
} */

.slider-value {
    --left-val: 0%; /* This is set with JavaScript depending on the number of values */
    position: absolute;
    top: 0;
    left: var(--left-val);
    color: white;
    font-size: 12px;
    font-family: 'Roboto';
    -webkit-transform: translate(-50%, 0);
    -moz-transform:translate(-50%, 0);
    -ms-transform:translate(-50%, 0);
    -o-transform:translate(-50%, 0);
    transform: translate(-50%, 0);
}
