.slider-container {
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "name slider value";
    align-items: center;
    margin: 2px 0px;
}

.slider-name {
    grid-area: name;
    color: white;
    font-size: 12px;
    font-family: 'Roboto';
}

.slider-value {
    grid-area: value;
    color: white;
    font-size: 12px;
    font-family: 'Roboto';
    text-align: right;
}

.slider {
    --thumb-position: 50%;
    --thumb-correction: 0%;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 2px;
    background: linear-gradient(
        to right, 
        rgba(129, 212, 250, 1) var(--thumb-position),
        rgba(129, 212, 250, 0.2) var(--thumb-position)
    );
    outline: none; /* Remove outline */
    cursor: pointer;
    vertical-align: middle;
}

/* Slider handle for Chrome, Opera, Safari, Edge */
.slider::-webkit-slider-thumb {
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: rgb(129, 212, 250);
    margin: 0;
    cursor: pointer;
    -webkit-transform: translate(var(--thumb-correction), 0);
    -ms-transform:translate(var(--thumb-correction), 0);
    -o-transform:translate(var(--thumb-correction), 0);
    transform: translate(var(--thumb-correction), 0);
}
  
  /* Slider handle for Firefox */
  .slider::-moz-range-thumb {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: rgb(129, 212, 250);
    cursor: pointer;
    -moz-transform:translate(var(--thumb-correction), 0);
    transform: translate(var(--thumb-correction), 0);
}

.slider-labels {
    width: 100%;
    height: 20px;
    position: relative;
    justify-items: center;
}

.slider-label {
    --left-val: 0%;
    position: absolute;
    top: 0;
    left: var(--left-val);
    color: white;
    font-size: 12px;
    font-family: 'Roboto';
    -webkit-transform: translate(-50%, 0);
    -moz-transform:translate(-50%, 0);
    -ms-transform:translate(-50%, 0);
    -o-transform:translate(-50%, 0);
    transform: translate(-50%, 0);
}
