.menu {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.05);
    width: 344px;
    height: 382px;
    position: absolute;
    bottom: 84px;
}

.container {
    height: 100%;
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

.slider-container {
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "name slider label";
    align-items: center;
}

.slider-name {
    grid-area: name;
    color: white;
}

.slider-element {
    grid-area: slider;
}

.slider-label {
    grid-area: label;
}
